{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Maps Company Leads API",
    "description": "API schema for accessing scraped company lead data from the Apify actor.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apify.com/v2"
    }
  ],
  "paths": {
    "/datasets/{datasetId}/items": {
      "get": {
        "operationId": "getCompanyLeads",
        "summary": "Get scraped company leads",
        "description": "Returns scraped company lead records from the dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "description": "Apify dataset ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Export format",
            "schema": {
              "type": "string",
              "enum": ["json", "csv", "xlsx"],
              "default": "json"
            }
          },
          {
            "name": "clean",
            "in": "query",
            "required": false,
            "description": "Remove hidden/internal fields",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with company lead records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyLead"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompanyLead": {
        "type": "object",
        "properties": {
          "companyDomain": {
            "type": "string",
            "nullable": true,
            "example": "https://business-software.in/"
          },
          "companyIndustry": {
            "type": "string",
            "nullable": true,
            "example": "Software company"
          },
          "companyName": {
            "type": "string",
            "nullable": true,
            "example": "Business Software India"
          },
          "contactNumber": {
            "type": "string",
            "nullable": true,
            "example": "+91 97331 92532"
          },
          "emailId": {
            "type": "string",
            "nullable": true,
            "example": "info@business-software.in"
          },
          "exactAddress": {
            "type": "string",
            "nullable": true,
            "example": "91Springboard, Bengaluru, Karnataka 560048, India"
          },
          "googleMapsLink": {
            "type": "string",
            "nullable": true,
            "example": "https://www.google.com/maps/place/Business+Software+India"
          },
          "locationRegion": {
            "type": "string",
            "nullable": true,
            "example": "Bangalore, India"
          },
          "reviewCount": {
            "type": "integer",
            "nullable": true,
            "example": 5
          },
          "servicesOffered": {
            "type": "string",
            "nullable": true,
            "example": "Software company"
          },
          "starRating": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 5
          },
          "totalCompaniesFound": {
            "type": "integer",
            "nullable": true,
            "example": 1
          }
        }
      }
    }
  }
}
